@import 'tailwindcss';
@import './themes/theme1.css';
@import './themes/theme2.css';
@import './themes/theme3.css';

@layer base {
  html {
    --color-dark: #0F0F0E;
    --color-light: #DBD2D2;
    --color-accent: #DBD2D2BF;
  }
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
  opacity: 0.4;
}

.noise::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/noisebg.png');
  background-repeat: repeat;
  mix-blend-mode: overlay;
  opacity: 0.09;
}