@import 'tailwindcss';
@import './themes/theme1.css';
@import './themes/theme2.css';
@import './themes/theme3.css';

@layer base {
  html {
    --color-dark: #0F0F0E;
    --color-light: #DBD2D2;
    --color-accent: #DBD2D2BF;
    cursor: none;
  }
  
  * {
    cursor: none !important;
  }
}